body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameBoard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.box {
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
    height: 50px;
    width: 50px;
    /* center the content */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    font-weight: 900;
    font-size: 2rem;
}

.box:hover {
    transform: scale(1.1);
    background-color: aliceblue;
}
